BasedOnStyle: LLVM
AccessModifierOffset: '-4'
ColumnLimit: '0'
FixNamespaceComments: 'false'
IndentCaseLabels: 'false'
IndentWidth: '4'
NamespaceIndentation: All
TabWidth: '4'
UseTab: Never
SortIncludes: true
IncludeBlocks: Preserve
IncludeCategories:
  - Regex:           '^"[[:alnum:]./]+"'       # Any "my_header.h"
    Priority:        2
  - Regex:           '<[[:alnum:]./]+>'        # System/Standard libs
    Priority:        1
